torch == 1.12.1
numpy == 1.20.2
MinkowskiEngine == 0.5.4
nuscenes-devkit == 1.1.9
copy
tqdm
pytorch_lightning == 1.6.0
Pillow == 8.3.1
pyquaternion
multiprocessing
scikit-image == 0.18.2
torchvision == 0.9.1
spconv == 2.1.21